<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Luminova</title>

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <link rel="stylesheet" href="/evara-frontend/assets/css/main.css">

    <style>



        .dropdown {
            position: relative;
            display: inline-block;
        }

        .sign-in-link {
            text-decoration: none;
            color: #000;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .sign-in-link {
            color: #007bff;
        }

        .icons-container {
            display: flex;
            align-items: center;
            gap: 15px;
            /* Space between icons */
            margin-top: 10px;
            margin-left: 10px;
        }

        .icon-link {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: #333;
            text-decoration: none;
            padding: 5px;
        }

        .icon-link i {
            font-size: 20px;
            /* Adjust icon size */
        }

        .icon-link:hover {
            color: #007bff;
            transform: translateY(-2px);
            transition: all 0.3s ease;
        }
    </style>
</head>

<body>

    <header class="header-area header-style-1 header-height-2">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">
                            <ul>
                                <li><i class="fi-rs-smartphone"></i> <a href="#">(+01) - 2345 - 6789</a></li>
                                <li><i class="fi-rs-marker"></i><a href="page-contact.html">Our location</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        <div class="text-center">
                            <div id="news-flash" class="d-inline-block">
                                <ul>
                                    <li>Get great devices up to 50% off <a href="  #">View details</a></li>
                                    <li>Supper Value Deals - Save more with coupons</li>
                                    <li>Trendy 25 womens watch, save up 35% off today <a href="">Shop now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">

                        <div class="header-info header-info-right">


                            <ul>
                                <% if (locals.user) { %>
                                    <div class="dropdown">
                                        <a href="#" class="sign-in-link">
                                            <%= locals.user.name %>
                                        </a>
                                        <div class="dropdown-content">
                                            <a href="/userProfile">Profile</a>
                                            <a href="/logout">Logout</a>
                                        </div>
                                    </div>
                                    <% } else { %>
                                        <li><i class="fi-rs-user"></i><a href="/signup">Sign Up</a></li>
                                        <li><i class="fi-rs-user"></i><a href="/login">Log In</a></li>
                                        <% } %>
                                           
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    
                    <div style="text-align: center;">
                        <h3 style="margin-bottom: 5px; font-family: 'Playfair Display', serif;"> LUMINOVA </h3>
                        <p style="font-family: 'Times New Roman', Times, serif; font-size: 7.5px; width: auto; line-height: 1;opacity: 0.5;"> 
                            T I M E P I E C E  C O L L E C T I O N
                        </p>
                    </div>
                       
 
                    <div class="header-right">
                        <div class="search-style-2">
                            <form action="#">
                            
                                
                            </form>
                        </div>

                        <div class="icon-wrapper">
                            <a href="/wallet" class="icon-link">
                                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2"
                                    fill="none">
                                    <path d="M21 12V7H5a2 2 0 0 1 0-4h14v4"></path>
                                    <path d="M3 5v14a2 2 0 0 0 2 2h16v-5"></path>
                                    <path d="M18 12a2 2 0 0 0 0 4h4v-4z"></path>
                                </svg>
                            </a>
                        </div>

                        <div class="icon-wrapper">
                            <a href="/wishlist" class="icon-link">
                                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2"
                                    fill="none">
                                    <path
                                        d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                    </path>
                                </svg>
                            </a>
                        </div>

                        <div class="icon-wrapper">
                            <a href="/showCart" class="icon-link">
                                <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2"
                                    fill="none">
                                    <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path>
                                    <line x1="3" y1="6" x2="21" y2="6"></line>
                                    <path d="M16 10a4 4 0 0 1-8 0"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                    </ul>
                </div>
            </div>
        </div>
        </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">

                <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                    <nav>
                        <ul>
                            <li><a class="active" href="/">Home </i></a></li>
                            <li><a href="shop">Shop </a></li>
                            <li class="position-static"><a href="#">About </i></a></li>
                            </li>
                            <li><a href="/contact">Contact</a> </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <p class="mobile-promotion">Happy <span class="text-brand">New-Year</span>. Big Sale Up to 40%</p>
            <div class="header-action-right d-block d-lg-none">
                <div class="header-action-2">
                    <div class="header-action-icon-2">
                        <a href="/wishlist">
                            <img alt="Evara" src="assets/imgs/theme/icons/icon-heart.svg">
                            <span class="pro-count white">4</span>
                        </a>
                    </div>
                    <div class="header-action-icon-2">
                        <a class="mini-cart-icon" href="shop-cart.html">
                            <img alt="Evara" src="assets/imgs/theme/icons/icon-cart.svg">
                            <span class="pro-count white">2</span>
                        </a>
                        <div class="cart-dropdown-wrap cart-dropdown-hm2">
                            <ul>
                                <li>
                                    <div class="shopping-cart-img">
                                        <a href="shop-product-right.html"><img alt="Evara"
                                                src="assets/imgs/shop/thumbnail-3.jpg"></a>
                                    </div>
                                    <div class="shopping-cart-delete">
                                        <a href="#"><i class="fi-rs-cross-small"></i></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="shopping-cart-img">
                                        <a href="shop-product-right.html"><img alt="Evara"
                                                src="assets/imgs/shop/thumbnail-4.jpg"></a>
                                    </div>

                                    <div class="shopping-cart-delete">
                                        <a href="#"><i class="fi-rs-cross-small"></i></a>
                                    </div>
                                </li>
                            </ul>
                            <div class="shopping-cart-footer">

                                <div class="shopping-cart-button">
                                    <a href="shop-cart.html">View cart</a>
                                    <a href="shop-checkout.html">Checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-action-icon-2 d-block d-lg-none">
                        <div class="burger-icon burger-icon-white">
                            <span class="burger-icon-top"></span>
                            <span class="burger-icon-mid"></span>
                            <span class="burger-icon-bottom"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </header>